<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>My Dojo Survey</title>
	</head>
	<body>
		<div class="wrapper">
			<h1>Dojo Survey!</h1>
			<form action='/submit' method='post'>
				<p> Your Name: <input type="text" name="name"></p>
				<p>Dojo Location:
				<select name="dojo">
					<option value="Seattle">Seattle</option>
					<option value="Los Angeles">Los Angeles</option>
					<option value="Silicon Valley">Silicon Valley</option>
					<option value ="Washington DC">Washington DC</option>
					<option value="Dallas">Dallas</option>
					<option value="Chicago">Chicago</option>
					<option value="Tulsa">Tulsa</option>
				</select></p>
				<p>Favorite Language:
				<select name="lang">
					<option value="HTML">HTML</option>
					<option value="CSS">CSS</option>
					<option value="JavaScript">JavaScript</option>
					<option value="Python">Python</option>
					<option value="Ruby">Ruby</option>
					<option value="Csharp">C#</option>
					<option value="Java">Java</option>
					<option value="Go">Go</option>
				</select></p>
				<p>Comment:</p>
				<textarea rows="6" cols="10" name="comment" placeholder="Limit 120 characters"></textarea>
				<p><input type="submit" name="submit"></p>
			</form>
		</div>
	</body>
</html>

