<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Submitted Data</title>
	</head>
	<body>
		<div class="wrapper">
			<h2>Submitted Info</h2>
			<p>Name: <%= name %></p>
			<p>Dojo Location: <%= dojo %></p>
			<p>Favorite Language: <%= lang %></p>
			<p>Comment: <%= comment %></p>
			<form action="/" method="get">
				<input type="submit" name="submit" value="Go Back">
			</form>
		</div>
	</body>
</html>